* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black; /* Establecer el color de fondo en el body */
    color: white;
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    gap: 2vw;
}

@media (max-width: 768px) {
    .container {
        font-size: 10vw;
    }
}
